<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="[#head.description]" />
    <link rel="icon" type="image/x-icon" href="[#head.favicon]" />
    <title>[#head.title]</title>
    <script>
      const energizeRouteaBase = "[#url]";
      const energizeRouteError = "[#routeError]";
      const energizeDinamicHead = function (head) {
        document.title = head.title;
        document.head
          .querySelector('meta[name="description"]')
          .setAttribute("content", head.description);
        document.head
          .querySelector('link[rel="icon"]')
          .setAttribute("href", head.favicon);
      };
    </script>
    <script src="[#url:energize.js]"></script>
  </head>
  <body>
    [#content]
  </body>
</html>
